<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8GAyuGVxz7QbhHii6V-kgufBWfgW4iT0" type="text/javascript"></script>

    <title>BUPD Hotline Bling</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  </head>
  

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>BUPD Hotline Bling</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
		            <div class="btn-group">
					<!--manual refresh button should you desire it-->
                      <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('home') }}">Refresh</a>

					</div>
        </div>
      </div>
    </header>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
		  <div style="width: 40%; float:left">
			<div id="container"></div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
				  <!--isplays google map on left side-->
					<div id="map" style="width: 30vw; height: 35vw;"></div>
                  </div>
                </div>
            </div>

	<div style="width: 60%; float:right">
	<!--auto refresh every 5 seconds-->
<meta http-equiv="Refresh" content="5">
<!--displays dynamic HTML table with texts-->
			{{ table_html | safe }}
	</div>



          </div>
        </div>
      </div>

  <footer class="py-2 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy;BostonHacks 2018</p>
    </div>
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!--script to generate google map and drop markers-->
    <script type="text/javascript">
	var locations = {{geocode | safe}};
	
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,

      center: new google.maps.LatLng(42.350616, -71.109023),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
	  	  <!--  the latitude is stored in index 2, ,longitude in index 1-->
		position: new google.maps.LatLng(locations[i][2], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
  </body>
</html>
