{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>
    <p></p>

    <table style="width: 100%" border="1">
        <tr>
            <th>Transaction#</th>
            <th>Action</th>
            <th>Date</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for trans in transactions %}
        <tr>
            <td>{{trans["Transaction#"]}}</td>
            <td>{{trans["Action"]}}</td>
            <td>{{trans["Date"]}}</td>
            <td>{{trans["Symbol"]}}</td>
            <td>{{trans["Shares"]}}</td>
            <td>{{trans["Price"]}}</td>
            <td>{{trans["Total"]}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
